*{
    background-color: #A7A7A7;
    font-size: 100%;
    font-family: monospace;
    color: black;
}

checkbox {

}

span {
    position: fixed;
    font-size: 100%;
    font-family: monospace;
}

canvas {
    border: solid;
}
.boxed {
	border-style: solid;
	padding-right: none;
	float: left;
}
#joystick {
    cursor: crosshair;
}
