input[type="number"] {
    width: 50px;
    text-align: right;
}
input[type="submit"], button {
    border-radius: 3px;
    font-size: 65%;
    box-shadow: 1px 1px 1px #3D3242;
    background: #8598C4;
    color: #3D3242;
}
select, input[type="text"], input[type="number"] {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background: #8598C4;
    color: #3D3242;
}
footer > h6 > img {
    margin: 5px;
}
.form {
    white-space: nowrap;
    display: inline-block;
}
.form > input[type="text"] {
    width: 111px;
    text-align: center;
}
.canvas {
    float: left;
    border-radius: 10px;
    border: 3px solid #122960;
    background: inherit;
    color: #3D3242;
    margin-left: auto;
    margin-right: auto
}
.coord {
    font-family: monospace;
    margin-left: 5px;
    white-space: nowrap;
    display: inline;
}
.frame {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #122960;
    background: #8598C4;
    color: #3D3242;
    float: left;
    clear: right;
}
.table td, th {
    border: 1px solid #122960;
    white-space: nowrap;
    margin-right: 1px;
}
.footer {
    clear: both;
}
.smalltext {
    font-size: 70%;
}
#toolbar {
    clear: both;
}
#body {
    color: #122960;
    display: inline-block;
}
#joystickFrame {
    clear: left;
    display: inline-block;
    float: left;
}
#joystick {
    cursor: crosshair;
}
#vector {
    border: none;
}
#videoCanvas {
    clear: none;
    width: 480px;
    height: 360px;
}
#geolocationFrame {
    width: 450px;
    height: 340px;
}

#dataFrame > * {
    clear: both;
}
#customInputSelectionForm > input[type="number"] {
    margin-left: 34px;
    width: 35px;
}
#saveProfile, #saveProfileNow, #profileNameText, #profilesList {
    float: right;
    clear: both;
    margin-left: 6px;
}
