span {
    position: fixed;
    font-size: 100%;
    font-family: monospace;
}
li {
    list-style-type: none;
    font-size: inherit;
}
canvas {
    border: solid;
}

.boxed {
	border-style: solid;
	padding-right: none;
	float: left;
}
#joystick {
    cursor: crosshair;
}
a {
    font-size: inherit;
}